<%= require('@partials/header.ejs')({title: 'Contact page'}) %>
    
    <h1 class="title">Webpack tutorial</h1>
    <button class="btn">Hit me</button>
    <h2>Getting started with webpack and ES6 modules – the demo</h1>
        <div class="results">
            <p id="resultGreeting"></p>
            <p id="resultSum"></p>
            <p id="resultProduct"></p>
        </div>
        <div class="card-deck">
            <% for(let i = 0; i < 3; i++) { %>
            <div class="card">                
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    
                    <p class="card-text">Texte</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <% } %>
        </div>
        <img width=200 src=<%= require('@img/lily.jpg') %> />
        <ul>
            <li>Read <a href="#">about this demo and how it works</a>.</li>
            <li>Check out this <a href="#">demo source code</a>.</li>
            <li>Made with 💖 by <a href="https://twitter.com/svinkle">@svinkle</a>.</li>
        </ul>
        
        <button id="button">Cliquez ici</button>
        <!-- <button id="alert">Alert</button> 
            <button id="lazyAlert">Lazy Alert</button> -->
<%= require('@partials/footer.ejs')() %>
            
        